
<link rel="stylesheet" href="<%= assetPath('css/homeStyles.css') %>">
       
<img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">
        
          
       <% if(user.id == profile_user.id){ %>
          <form action="/users/update/<%= profile_user.id %>" method="post" enctype="multipart/form-data">
                  <input type="text" name="name" placeholder="Your name" value="<%= profile_user.name %>" required>
                  <input type="text" name="email" placeholder="Your email" value="<%= profile_user.email %>" required>

                  <input type="file" name="avatar" placeholder="profile picture"> 
                  <input type="submit" name="" value="Update">
          </form>

        <% }else{ %>
                <p> Email: <%= profile_user.email %></p>
                <p> Name: <%= profile_user.name %></p>
         
            
                <% } %>